<% layout('layout/Layout') %>
<div class="hero">
    <h1>
        "Welcome them with Open Arms!"
    </h1>
    <div>
        <p class="hero-text">
            Embrace the unconditional love of these little beings. Whether you're looking for a playful puppy or a chirping bird, find your perfect companion today and make a difference in their life.
        </p>
    </div>
    
    <a href="/adopt" class="explore-button">Explore<i class="fa-solid fa-angles-right"></i></a>
</div>
<div class="section">
    <div class="part">
        <div class="adoptImg">
            <img src="/images/adopt.png" alt="">
        </div>
        <div class="sec-info">
            <h3>Adopt a pet</h3>
            <p>Open your heart to a furry friend. Adopting a pet enriches your life with love and joy. Every adoption makes a world of difference. Explore our adorable companions waiting for you. Start a lifelong journey of companionship today.</p>
            <a href="/adopt" class="sec-button">Adopt a Pet<i class="fa-solid fa-angles-right"></i></a>
        </div>
        </div>
        <div class="part">
            <div class="sec-info">
                <h3>Buy a Pet</h3>
                <p>Discover a diverse range of pets including birds, cats, dogs, rabbits, aquatic animals, and more. Explore our comprehensive listings to find the perfect pet companion that fits your lifestyle and preferences. From chirping birds to playful kittens and loyal dogs, each pet offers a unique charm and companionship experience. Start your journey with us and find the ideal pet to bring joy and fulfillment into your life.</p>
                <a href="/buyAPet" class="sec-button">Check Out<i class="fa-solid fa-angles-right"></i></a>
            </div>
            <div class="adoptImg">
                <img src="/images/BuyAPet.png" alt="">
            </div>
    </div>
</div>
