<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Openarms:Login</title>
    <link rel="icon" href="/images/paw.png" >
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="auth">
    <div class="cont">
        <div class="image">
        </div>
        <div class="loginForm">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" required>
                <br>
                <br>
                <label for="password">Password:</label>
                <input type="password" name="password" required>
                <br>
                <br>
                <div class="navigation">
                    <button type="submit">Login</button>
                    <a href="/register">Create an account</a>
                </div>
               
            </form>
        </div>
    </div>
    
    
    
    
</body>
</html>