<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Openarms:Register</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/paw.png" >

</head>
<body class="auth">
    <!-- <H1>Register</H1>
    <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <button type="submit">Register</button>
    </form> -->
    <div class="cont">
        
        <div class="loginForm">
            <h1>Register</h1>
            <form action="/register" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" required>
                <br>
                <label for="email">Email:</label>
                <input type="email" name="email" required>
                <br>
                <label for="password">Password:</label>
                <input type="password" name="password" required>
                <div class="navigation">
                    <button type="submit">Register</button>
                    <a href="/login">Login with your account</a>
                </div>
               
            </form>
        </div>
        <div class="image2">
        </div>
    </div>
    
    
</body>
</html>